# fill up and rename to env.py

# link to search result page, for example 'https://www.tori.fi/koko_suomi?q=&cg=4100&w=3&xtatc=INT-166'
tori_link = ''

# bot token
tg_token = ''

# list of chat ids (integers) to update with new listings
tg_chats = []